.App {
  font-family: sans-serif;
  text-align: center;
}
.row {
  display: flex;
  flex-direction: row;
}
.name {
  background-color: silver;
}
.pronouns {
  background-color: yellow;
}
.school {
  background-color: purple;
}
.year {
  background-color: blue;
}
.color {
  background-color: orange;
}
.platform {
  background-color: red;
}
.animal {
  background-color: grey;
}
.nickname {
  background-color: gold;
}
